<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYF Movie</title>
    <link rel="icon" href="../media/title_img.jpg" type="image/jpg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/home.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/home.js"></script>
    <style>
        /* Add your custom styles here */

        /* Fix for the container */
        body {
            padding-top: 65px;
            /* Adjust based on your navbar height */
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <script>
        $(function () {
            $("#includedContentNav").load("nav.html");
            $("#includedContentFooter").load("footer.html");
        });
    </script>

    <nav id="includedContentNav"></nav>

    <div class="div-container" style="width: 60%;">
        <div class="bg-cast-and-crew">
            <div class="cast-and-crew-intro p-3">
                <div style="display: flex; justify-content: flex-end;">
                    <p>Sort by:</p>
                    <a href="#" class="ml-2">Popularity</a>
                </div>
                <hr class="mt-0">
                <div class="cast-and-crew-list">
                    <!-- Director -->
                    <div class="cast-and-crew-director mb-4">
                        <img src="../media/vebinh1.jpg" alt="" class="d-inline-block mb-2"
                            style="width: 72px; height: 102px;">
                        <div class="d-inline-block ml-3 mb-4" style="vertical-align: middle;">
                            <a href="detail.html" style="color: rgb(92, 0, 252);">
                                <h5>Ve binh giai ngan ha</h5>
                            </a>
                            <h3></h3>
                            <div class="float-left">
                                <ul class="pl-0 mb-0">
                                    <li>2023</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>T18</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>2h 38m</li>
                                </ul>

                                <i class="fas fa-star pr-2"
                                    style="color: yellow; display: inline-block; font-size: 18px;"></i>
                                <div style="display: inline-block;">
                                    <p class="m-0">6.6/10</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-0">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
                    </div>

                    <hr class="mt-0">
                <div class="cast-and-crew-list">
                    <!-- Director -->
                    <div class="cast-and-crew-director mb-4">
                        <img src="../media/vebinh1.jpg" alt="" class="d-inline-block mb-2"
                            style="width: 72px; height: 102px;">
                        <div class="d-inline-block ml-3 mb-4" style="vertical-align: middle;">
                            <a href="detail.html" style="color: rgb(92, 0, 252);">
                                <h5>Ve binh giai ngan ha</h5>
                            </a>
                            <h3></h3>
                            <div class="float-left">
                                <ul class="pl-0 mb-0">
                                    <li>2023</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>T18</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>2h 38m</li>
                                </ul>

                                <i class="fas fa-star pr-2"
                                    style="color: yellow; display: inline-block; font-size: 18px;"></i>
                                <div style="display: inline-block;">
                                    <p class="m-0">6.6/10</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-0">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
                    </div>

                    <hr class="mt-0">
                <div class="cast-and-crew-list">
                    <!-- Director -->
                    <div class="cast-and-crew-director mb-4">
                        <img src="../media/vebinh1.jpg" alt="" class="d-inline-block mb-2"
                            style="width: 72px; height: 102px;">
                        <div class="d-inline-block ml-3 mb-4" style="vertical-align: middle;">
                            <a href="detail.html" style="color: rgb(92, 0, 252);">
                                <h5>Ve binh giai ngan ha</h5>
                            </a>
                            <h3></h3>
                            <div class="float-left">
                                <ul class="pl-0 mb-0">
                                    <li>2023</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>T18</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>2h 38m</li>
                                </ul>

                                <i class="fas fa-star pr-2"
                                    style="color: yellow; display: inline-block; font-size: 18px;"></i>
                                <div style="display: inline-block;">
                                    <p class="m-0">6.6/10</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-0">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
                    </div>

                    <hr class="mt-0">
                <div class="cast-and-crew-list">
                    <!-- Director -->
                    <div class="cast-and-crew-director mb-4">
                        <img src="../media/vebinh1.jpg" alt="" class="d-inline-block mb-2"
                            style="width: 72px; height: 102px;">
                        <div class="d-inline-block ml-3 mb-4" style="vertical-align: middle;">
                            <a href="detail.html" style="color: rgb(92, 0, 252);">
                                <h5>Ve binh giai ngan ha</h5>
                            </a>
                            <h3></h3>
                            <div class="float-left">
                                <ul class="pl-0 mb-0">
                                    <li>2023</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>T18</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>2h 38m</li>
                                </ul>

                                <i class="fas fa-star pr-2"
                                    style="color: yellow; display: inline-block; font-size: 18px;"></i>
                                <div style="display: inline-block;">
                                    <p class="m-0">6.6/10</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-0">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
                    </div>

                    <hr class="mt-0">
                <div class="cast-and-crew-list">
                    <!-- Director -->
                    <div class="cast-and-crew-director mb-4">
                        <img src="../media/vebinh1.jpg" alt="" class="d-inline-block mb-2"
                            style="width: 72px; height: 102px;">
                        <div class="d-inline-block ml-3 mb-4" style="vertical-align: middle;">
                            <a href="detail.html" style="color: rgb(92, 0, 252);">
                                <h5>Ve binh giai ngan ha</h5>
                            </a>
                            <h3></h3>
                            <div class="float-left">
                                <ul class="pl-0 mb-0">
                                    <li>2023</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>T18</li>
                                    <i class="fas fa-circle pl-1 pr-1" style="font-size: 2px; vertical-align: middle;"></i>
                                    <li>2h 38m</li>
                                </ul>

                                <i class="fas fa-star pr-2"
                                    style="color: yellow; display: inline-block; font-size: 18px;"></i>
                                <div style="display: inline-block;">
                                    <p class="m-0">6.6/10</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-0">A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
                    </div>




                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer id="includedContentFooter"></footer>

</body>

</html>