<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Movie Website</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/home.css">


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../static/js/home.js"></script>
  <script type="module" src="../static/js/api/api.js"></script>
  <style>
    /* Add your custom styles here */

    /* Fix for the container */
    body {
      padding-top: 56px;
      /* Adjust based on your navbar height */
    }
  </style>
</head>

<body>
  <script>
    $(function () {
      $("#includedContentNav").load("nav.html", function () {
      });

      $("#includedContentFooter").load("footer.html");
    });
  </script>

  <nav id="includedContentNav"></nav>

  <!-- Container -->
  <div class="div-container mt-4">
    <!-- First div -->
    <!-- Banner Image -->
    <div class="row">
      <div class="col-md-8 banner-trailer-film">
        <div id="carouselBannerImg" class="carousel slide">
          <!-- <ol class="carousel-indicators mb-1">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol> -->
          <div class="carousel-inner video-trailer" data-ride="false">
            <div class="carousel-item active">
              <video controls width="100%">
                <source
                  src="https://imdb-video.media-imdb.com/vi87213849/1434659607842-pgv4ql-1698417533740.mp4?Expires=1717544258&Signature=KyRGwM4vxK5yiXVBibz-9pFdb9vCUH3s9ylF6j6qDLhYlE~4W8I~GKNtOapE~q4SVQ0PjA76tSY0YptUll8lNAAaPlpEQtn3nNjU8AWw70RErnqdDPKhwnB-tQ5Bzw2Ys79GeVFwRS6auMWc0R2DzJYpZjbbklyURhE8064TOcGvLo15wjLeJS-Z0M0Z0r2MuSSeqF8ePGAeizOoWi1RW1icmmCaihcAqU0UbyhWU5qWSXNkVqYiyNRyFKzPds0YCwBfi6LG-DZ449nJOinD4FOg0E1Ag7NeEqcnJYOGq8S~4Z9H0gDWWUScWWnlOQmeP1d~ogdJH-G~Nw7txU~Fhg__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA"
                  type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            
            <div class="carousel-item video-trailer">
              <video controls width="100%">
                <source
                  src="https://imdb-video.media-imdb.com/vi3790980889/1434659607842-pgv4ql-1692797095123.mp4?Expires=1717544223&Signature=tGgv5Um3FVtDH0DMvVlplmoxD7fRCuPg4BA-uj0qI52fJkW~mGPPTi45-a5FXGPWTU64o2R6upe2PaPh7rmyX1d4LVPpfHpzclfwNKyIZ0hkB~hVYmQFRLSG5Rr5lgdq3ow7eo7EzxA0xwZWqnz8Tf0VY2Q9PQ1bANSLbegJGabFfh1XEiWDU2k0OKMu0v8yS7gz2nZrFeNq4jRWahLG0oB5vd~0~rMzkciRnWHo2DEkNuUP1kl48qE6iLgXFt3nZtPYmHVezUpwFL6Im96iYJdsoryvKpCRI-uD7IHiL9AMik2VTMlq5X8DxvJ6DuS3sKIKxBZd2NfWoLNJet0lyg__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA"
                  type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselBannerImg" role="button" data-slide="prev"
            style="width: 30px">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselBannerImg" role="button" data-slide="next"
            style="width: 30px">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-4 pr-0 list-trailer-play">
        <h3 style="margin-top: -10px;">Next Trailer</h3>
        <ul class="list-group" id="listRightVideo">
          <!-- <li class="list-group-item pt-0 pb-0 mb-1 trailer-play">
              <div class="row">
                <div class="col-md-2 img-small">
                  <img src="../media/vebinh<?= $i ?>.jpg" class="card-img-top" alt="Movie Image">
                </div>

                <div class="col-md-10 card-body d-flex flex-column mt-0 pt-0">
                  <p class="play-time"><i class="fa fa-play-circle-o mr-2" style="font-size:30px"></i> 0:49</p>
                  <h5 class="card-title mt-0 mb-1" style="color: rgba(255, 255, 255, 0.9);">Ve Binh Giai Ngan Ha di giai
                    cuu the gioi dong vat</h5>
                  <p class="des">Description</p>
                </div>
              </div>
            </li> -->
        </ul>
        <a href="#">
          <h2>Browse Trailer ></h2>
        </a>
      </div>
    </div>

    <h1 class="mt-0">What to watch</h1>

    <!-- Most popular -->
    <div>
      <a href="#" style="color: black;">
        <h3 class="topic mb-0 mt-4">| Recommend <i class="fas fa-chevron-right"></i></h3>
      </a>
    </div>

    <!-- Second div -->
    <div id="carouselMostpopular" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mt-4" id="listMostpopular">
            <!-- Repeat the following block for each movie -->
            <!-- <div class="col-md-2 mb-4 mr-0">
                <div class="card">
                  <div class="img-container">
                    <img src="../media/vebinh1.jpg" class="card-img-top" alt="Movie Image">
                  </div>

                  <div class="card-body d-flex flex-column align-items-center">
                    <p class="card-text mr-auto mb-2"><i class="fas fa-star" style="color: yellow;"></i>
                      4.9</p>
                    <h6 class="card-title mt-0">Ve Binh Giai Ngan Ha</h6>
                    <br>
                    <button class="btn btn-primary"><i class='fas fa-plus'></i> Add to List</button>
                    <a href="detail.html" class="mt-2" style="width: 150px; text-align:center;"><button
                        class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button></a>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mt-4" id="listMostpopular-Carousel">
            <!-- Repeat the following block for each movie -->
            <!-- <div class="col-md-2 mb-4 mr-0">
                <div class="card">
                  <div class="img-container">
                    <img src="../media/vebinh1.jpg" class="card-img-top" alt="Movie Image">
                  </div>

                  <div class="card-body d-flex flex-column align-items-center">
                    <p class="card-text mr-auto mb-2"><i class="fas fa-star" style="color: yellow;"></i>
                      4.9</p>
                    <h6 class="card-title mt-0">Ve Binh Giai Ngan Ha</h6>
                    <br>
                    <button class="btn btn-primary"><i class='fas fa-plus'></i> Add to List</button>
                    <a href="detail.html" class="mt-2" style="width: 150px; text-align:center;"><button
                        class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button></a>
                  </div>
                </div>
              </div> -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselMostpopular" role="button" data-slide="prev" style="width: 30px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselMostpopular" role="button" data-slide="next" style="width: 30px">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Most favourites -->
    <div>
      <a href="#" style="color: black;">
        <h3 class="topic mb-0 mt-4">| Most favourites <i class="fas fa-chevron-right"></i></h3>
      </a>
    </div>

    <!-- Second div -->
    <div id="carouselMostfavourites" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mt-4" id="listMostFavourites">
            <!--  -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mt-4" id="listMostFavourites-Carousel">
            <!--  -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselMostfavourites" role="button" data-slide="prev"
        style="width: 30px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselMostfavourites" role="button" data-slide="next"
        style="width: 30px">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Highest revenue -->
    <div>
      <a href="#" style="color: black;">
        <h3 class="topic mb-0 mt-4">| Highest revenue <i class="fas fa-chevron-right"></i></h3>
      </a>
    </div>

    <!-- Second div -->
    <div id="carouselHighestRevenue" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mt-4" id="listHighest">
            <!--  -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mt-4" id="listHighest-Carousel">
            <!--  -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselHighestRevenue" role="button" data-slide="prev"
        style="width: 30px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselHighestRevenue" role="button" data-slide="next"
        style="width: 30px">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Latest -->
    <div>
      <a href="#" style="color: black;">
        <h3 class="topic mb-0 mt-4">| Latest <i class="fas fa-chevron-right"></i></h3>
      </a>
    </div>

    <!-- Second div -->
    <div id="carouselLatest" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mt-4" id="listLatest">
            <!--  -->
          </div>
        </div>
        <div class="carousel-item">
          <div class="row mt-4" id="listLatest-Carousel">
            <!--  -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselLatest" role="button" data-slide="prev" style="width: 30px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselLatest" role="button" data-slide="next" style="width: 30px">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <footer id="includedContentFooter"></footer>


  <!-- SCRIPT -->
  <script>

    // #################################################################
    // #################################################################
    // #################################################################

    // List Highest Revenue
    // #################################################################
    // #################################################################
    // #################################################################
    // Tạo một đối tượng chứa thông tin phim
    var moviesHighestRevenue = [
    {
        image: "../media/film11.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film10.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film2.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film7.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film1.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film8.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      // ... Thêm thông tin của các phim khác tại đây
    ];

    // Lấy phần tử cha
    var listHighest = document.getElementById('listHighest');

    // Lặp qua mảng phim và tạo các phần tử HTML tương ứng
    moviesHighestRevenue.forEach(function (movie, index) {
      // Tạo các phần tử HTML
      var movieDiv = document.createElement('div');
      movieDiv.classList.add('col-md-2', 'mb-4', 'mr-0', 'card-to-detail');

      var cardDiv = document.createElement('div');
      cardDiv.classList.add('card');
      var cardId = 'listHighest-' + index;
      cardDiv.setAttribute('id', cardId);

      var imgContainerDiv = document.createElement('div');
      imgContainerDiv.classList.add('img-container');

      var img = document.createElement('img');
      img.src = movie.image;
      img.classList.add('card-img-top');
      img.alt = 'Movie Image';

      var cardBodyDiv = document.createElement('div');
      cardBodyDiv.classList.add('card-body', 'd-flex', 'flex-column', 'align-items-center');

      var ratingP = document.createElement('p');
      ratingP.classList.add('card-text', 'mr-auto', 'mb-2');
      ratingP.innerHTML = '<i class="fas fa-star" style="color: yellow;"></i> ' + movie.rating;

      var titleH6 = document.createElement('h6');
      titleH6.classList.add('card-title', 'mt-0');
      titleH6.innerText = movie.title;

      var addButton = document.createElement('button');
      addButton.classList.add('btn', 'btn-primary');
      addButton.innerHTML = '<i class="fas fa-plus"></i> Add to List';

      var watchButton = document.createElement('a');
      watchButton.href = 'detail.html';
      watchButton.classList.add('mt-2');
      watchButton.style.width = '150px';
      watchButton.style.textAlign = 'center';
      watchButton.innerHTML = '<button class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button>';

      // Gắn các phần tử con vào phần tử cha
      imgContainerDiv.appendChild(img);
      cardDiv.appendChild(imgContainerDiv);
      cardBodyDiv.appendChild(ratingP);
      cardBodyDiv.appendChild(titleH6);
      cardBodyDiv.appendChild(document.createElement('br'));
      cardBodyDiv.appendChild(addButton);
      cardBodyDiv.appendChild(watchButton);
      cardDiv.appendChild(cardBodyDiv);
      movieDiv.appendChild(cardDiv);

      // Thêm movieDiv vào listMostpopular
      listHighest.appendChild(movieDiv);
    });

    // ListMostPopular-Carousel
    var moviesHighestRevenueDataCarousel = [
      {
        image: "../media/vebinh6.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh5.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh4.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh3.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh2.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh1.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      }
      // Thêm thông tin của các phim khác tại đây
    ];

    // Lấy phần tử cha
    var listHighestCarousel = document.getElementById('listHighest-Carousel');

    // Lặp qua mảng phim và tạo các phần tử HTML tương ứng
    moviesHighestRevenueDataCarousel.forEach(function (movieData, index) {
      // Tạo các phần tử HTML
      var movieDiv = document.createElement('div');
      movieDiv.classList.add('col-md-2', 'mb-4', 'mr-0', 'card-to-detail');

      var cardDiv = document.createElement('div');
      cardDiv.classList.add('card');
      var cardId = 'listHighest-Carousel-' + index;
      cardDiv.setAttribute('id', cardId);

      var imgContainerDiv = document.createElement('div');
      imgContainerDiv.classList.add('img-container');

      var img = document.createElement('img');
      img.src = movieData.image;
      img.classList.add('card-img-top');
      img.alt = 'Movie Image';

      var cardBodyDiv = document.createElement('div');
      cardBodyDiv.classList.add('card-body', 'd-flex', 'flex-column', 'align-items-center');

      var ratingP = document.createElement('p');
      ratingP.classList.add('card-text', 'mr-auto', 'mb-2');
      ratingP.innerHTML = '<i class="fas fa-star" style="color: yellow;"></i> ' + movieData.rating;

      var titleH6 = document.createElement('h6');
      titleH6.classList.add('card-title', 'mt-0');
      titleH6.innerText = movieData.title;

      var addButton = document.createElement('button');
      addButton.classList.add('btn', 'btn-primary');
      addButton.innerHTML = '<i class="fas fa-plus"></i> Add to List';

      var watchButton = document.createElement('a');
      watchButton.href = 'detail.html';
      watchButton.classList.add('mt-2');
      watchButton.style.width = '150px';
      watchButton.style.textAlign = 'center';
      watchButton.innerHTML = '<button class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button>';

      // Gắn các phần tử con vào phần tử cha
      imgContainerDiv.appendChild(img);
      cardDiv.appendChild(imgContainerDiv);
      cardBodyDiv.appendChild(ratingP);
      cardBodyDiv.appendChild(titleH6);
      cardBodyDiv.appendChild(document.createElement('br'));
      cardBodyDiv.appendChild(addButton);
      cardBodyDiv.appendChild(watchButton);
      cardDiv.appendChild(cardBodyDiv);
      movieDiv.appendChild(cardDiv);

      // Thêm movieDiv vào listMostpopularCarousel
      listHighestCarousel.appendChild(movieDiv);
    });

    // #################################################################
    // #################################################################
    // #################################################################
    // List Latest
    // #################################################################
    // #################################################################
    // #################################################################
    // Tạo một đối tượng chứa thông tin phim
    var moviesLatest = [
      {
        image: "../media/film4.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film5.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film6.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film7.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film11.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/film12.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      // ... Thêm thông tin của các phim khác tại đây
    ];

    // Lấy phần tử cha
    var listLatest = document.getElementById('listLatest');

    // Lặp qua mảng phim và tạo các phần tử HTML tương ứng
    moviesLatest.forEach(function (movie, index) {
      // Tạo các phần tử HTML
      var movieDiv = document.createElement('div');
      movieDiv.classList.add('col-md-2', 'mb-4', 'mr-0', 'card-to-detail');

      var cardDiv = document.createElement('div');
      cardDiv.classList.add('card');
      var cardId = 'listLatest-' + index;
      cardDiv.setAttribute('id', cardId);

      var imgContainerDiv = document.createElement('div');
      imgContainerDiv.classList.add('img-container');

      var img = document.createElement('img');
      img.src = movie.image;
      img.classList.add('card-img-top');
      img.alt = 'Movie Image';

      var cardBodyDiv = document.createElement('div');
      cardBodyDiv.classList.add('card-body', 'd-flex', 'flex-column', 'align-items-center');

      var ratingP = document.createElement('p');
      ratingP.classList.add('card-text', 'mr-auto', 'mb-2');
      ratingP.innerHTML = '<i class="fas fa-star" style="color: yellow;"></i> ' + movie.rating;

      var titleH6 = document.createElement('h6');
      titleH6.classList.add('card-title', 'mt-0');
      titleH6.innerText = movie.title;

      var addButton = document.createElement('button');
      addButton.classList.add('btn', 'btn-primary');
      addButton.innerHTML = '<i class="fas fa-plus"></i> Add to List';

      var watchButton = document.createElement('a');
      watchButton.href = 'detail.html';
      watchButton.classList.add('mt-2');
      watchButton.style.width = '150px';
      watchButton.style.textAlign = 'center';
      watchButton.innerHTML = '<button class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button>';

      // Gắn các phần tử con vào phần tử cha
      imgContainerDiv.appendChild(img);
      cardDiv.appendChild(imgContainerDiv);
      cardBodyDiv.appendChild(ratingP);
      cardBodyDiv.appendChild(titleH6);
      cardBodyDiv.appendChild(document.createElement('br'));
      cardBodyDiv.appendChild(addButton);
      cardBodyDiv.appendChild(watchButton);
      cardDiv.appendChild(cardBodyDiv);
      movieDiv.appendChild(cardDiv);

      // Thêm movieDiv vào listMostpopular
      listLatest.appendChild(movieDiv);
    });

    // ListMostPopular-Carousel
    var moviesLatestDataCarousel = [
      {
        image: "../media/vebinh6.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh5.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh4.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh3.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh2.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      },
      {
        image: "../media/vebinh1.jpg",
        rating: 4.9,
        title: "Ve Binh Giai Ngan Ha"
      }
      // Thêm thông tin của các phim khác tại đây
    ];

    // Lấy phần tử cha
    var listLatestCarousel = document.getElementById('listLatest-Carousel');

    // Lặp qua mảng phim và tạo các phần tử HTML tương ứng
    moviesLatestDataCarousel.forEach(function (movieData, index) {
      // Tạo các phần tử HTML
      var movieDiv = document.createElement('div');
      movieDiv.classList.add('col-md-2', 'mb-4', 'mr-0', 'card-to-detail');

      var cardDiv = document.createElement('div');
      cardDiv.classList.add('card');
      var cardId = 'listLatest-Carousel-' + index;
      cardDiv.setAttribute('id', cardId);

      var imgContainerDiv = document.createElement('div');
      imgContainerDiv.classList.add('img-container');

      var img = document.createElement('img');
      img.src = movieData.image;
      img.classList.add('card-img-top');
      img.alt = 'Movie Image';

      var cardBodyDiv = document.createElement('div');
      cardBodyDiv.classList.add('card-body', 'd-flex', 'flex-column', 'align-items-center');

      var ratingP = document.createElement('p');
      ratingP.classList.add('card-text', 'mr-auto', 'mb-2');
      ratingP.innerHTML = '<i class="fas fa-star" style="color: yellow;"></i> ' + movieData.rating;

      var titleH6 = document.createElement('h6');
      titleH6.classList.add('card-title', 'mt-0');
      titleH6.innerText = movieData.title;

      var addButton = document.createElement('button');
      addButton.classList.add('btn', 'btn-primary');
      addButton.innerHTML = '<i class="fas fa-plus"></i> Add to List';

      var watchButton = document.createElement('a');
      watchButton.href = 'detail.html';
      watchButton.classList.add('mt-2');
      watchButton.style.width = '150px';
      watchButton.style.textAlign = 'center';
      watchButton.innerHTML = '<button class="btn btn-success p-2"><i class="fa fa-play mr-1"></i> Watch Movie</button>';

      // Gắn các phần tử con vào phần tử cha
      imgContainerDiv.appendChild(img);
      cardDiv.appendChild(imgContainerDiv);
      cardBodyDiv.appendChild(ratingP);
      cardBodyDiv.appendChild(titleH6);
      cardBodyDiv.appendChild(document.createElement('br'));
      cardBodyDiv.appendChild(addButton);
      cardBodyDiv.appendChild(watchButton);
      cardDiv.appendChild(cardBodyDiv);
      movieDiv.appendChild(cardDiv);

      // Thêm movieDiv vào listMostpopularCarousel
      listLatestCarousel.appendChild(movieDiv);
    });

    // #################################################################
    // #################################################################
    // #################################################################

  </script>

</body>

</html>