/* CSS */
:root {
    --color-link: rgb(92, 0, 252);
    --color-blue: blue;
    --color-white: white;
    --color-black: black;
    --color-hr: rgb(97, 97, 97);
    --color-bg-black-grey: rgb(31, 31, 31);
    --color-hover: rgb(54, 54, 54);
    --color-border-video: rgba(60, 60, 60, 0.5);
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

li {
    display: inline-block;
}

a {
    color: var(--color-white);
}

a:hover {
    color: var(--color-white);
}

hr {
    background-color: var(--color-hr);
}

.dark-mod {
    background-color: black;
    color: var(--color-white);
}

.light-mode {
    background-color: var(--color-white);
    color: black;
}

.list-trailer-play,
.trailer-play {
    background-color: black;
}

.des {
    color: rgb(214, 214, 214);
}

.card {
    background-color: var(--color-bg-black-grey);
}

.div-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.div-imdb-rating {
    position: absolute;
    right: 20px;
    width: 20%;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: -10px;
}

.div-imdb-rating:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(54, 54, 54);
}

.video-trailer {
    border: solid rgba(60, 60, 60, 0.5) 2px;
    border-radius: 4px
}

.right-trailer-center {
    width: 100%;
    height: 49.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(72, 72, 72, 1));
    margin-bottom: 2%;
}

.right-trailer-center div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-trailer-center div i,
.right-trailer-center div p {
    font-size: 20px;
    color: rgb(239, 239, 239);
}

.right-trailer-center:hover {
    cursor: pointer;
}

.genres ul li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 25px;
    padding: 4px 10px 4px 10px;
}

.genres ul li a:hover {
    text-decoration: none;
}

.genres ul li:hover {
    background-color: rgb(61, 61, 61);
}

.intro-user-review {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-user-review p {
    display: inline-block;
}

.intro-user-review-icon {
    background-color: rgb(91, 106, 170);
    padding: 0px 5px;
    margin-right: 5px;
}

.did-you-know-content-element {
    border: 1px solid var(--color-hr);
    ;
    border-radius: 5px;
}

.did-you-know-content-element-name,
.did-you-know-content-element-content {
    font-size: 16px;
}

.did-you-know-content-element-name {
    font-weight: 700;
}

.user-reviews-content-element {
    border: 1px solid var(--color-hr);
    border-radius: 5px;
}

.user-reviews-content-element-name,
.user-reviews-content-element-content,
.user-reviews-content-element-rate {
    font-size: 16px;
}

.user-reviews-content-element-name {
    font-weight: 700;
}

.user-reviews-content-element a:hover {
    text-decoration: none;

}

.user-reviews-content-element i:hover {
    cursor: pointer;
}

.link-to-review {
    border-radius: 10px;
}

.link-to-review:hover {
    background-color: rgb(37, 37, 37);
    text-decoration: none;
}

.content-right {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 21, 21);
}


.text-inline p,
a {
    display: inline-block;
    font-size: 16px;
}

.text-inline p {
    font-weight: 700;
    margin-right: 5px;
}

.text-inline a {
    color: var(--color-link);
}

.text-inline-link p,
a {
    display: inline-block;
    font-size: 16px;
}

.text-inline-link p {
    font-weight: 700;
    margin-right: 5px;
}

.text-inline-link a,
.text-inline-link i {
    color: var(--color-link);
}

.intro-stars i {
    font-size: 16px;
    color: var(--color-link);
}

.link-stars {
    border-radius: 2px;
    padding: 2px;
}

.intro-stars:hover {
    cursor: pointer;

    .link-stars {
        background-color: rgb(79, 79, 79);
    }
}

.bg-film {
    background: linear-gradient(to right, rgb(29, 29, 29), rgb(42, 42, 42));
}

.content-awards {
    padding: 5px;
    border: 1px rgb(252, 252, 146) solid;
    border-radius: 5px;
}

.top-cast ul div li,
.awards-element {
    display: block;
    border-left: 1px solid rgb(117, 117, 247);
    padding-left: 10px;
    margin-left: 4px;
    margin-bottom: 30px;
}

.top-cast ul div li p {
    font-size: 14px;
}

.box-office-content ul div div li p {
    font-weight: 400;
    font-size: 16px;
}

.bg-cast-and-crew,
.bg-user-reviews,
.bg-awards,
.bg-profile {
    background-color: rgb(21, 21, 21);
}

.cast-and-crew-name a p {
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.cast-and-crew-name a {
    color: var(--color-link);
}


.cast-and-crew-role p {
    padding-left: 100px;
    font-size: 16px;
    margin: 0px;
}

.review-element {
    border: 1px solid var(--color-hr);
    border-radius: 5px;
}

.title-review a {
    color: var(--color-link);
}

.title-review p {
    font-size: 14px;
}

.review-content p {
    font-size: 16px;
}

.transparent-animate {
    background-color: transparent !important;
    transition: background-color 0.2s ease-in-out;
    display: none;
}

.btn-primary {
    background-color: rgba(60, 60, 60, 1);
    border: none;
    margin-left: 0px;
}

.btn-success {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 5%;
    margin-right: 5%;
}

.img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 150%;
    /* Tỉ lệ 2:3 */
    overflow: hidden;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Đảm bảo tỷ lệ ảnh 2x3 được giữ nguyên */
}

.img-small {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 30%;
    /* Tỉ lệ 2:3 */
    overflow: hidden;
}

.img-small img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Đảm bảo tỷ lệ ảnh 2x3 được giữ nguyên */
}

.carousel-container {
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.col-md-3.mb-4 {
    flex: 0 0 auto;
    margin-right: 15px;
    /* Điều chỉnh khoảng cách giữa các thẻ */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.dropdown-toggle::after {
    content: none;
}

.f-fb,
.f-ins {
    color: var(--color-white);
}

.topic {
    color: rgb(240, 240, 9);
}

.list-group-item {
    border: none;
}

.topic:hover {
    color: var(--color-blue);
}

.list-group-item:hover {
    cursor: pointer;

    .fa-play-circle-o {
        color: var(--color-blue);
    }
}

.play-time {
    display: flex;
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

/*  */
/*  */
/*  */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: rgb(226, 226, 226);
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.submit-button {
    margin-top: 30px;
    text-align: right;
    display: inline;
}

.cancel-button {
    display: inline;
    margin-top: 30px;
}

#review-form table tr td {
    padding-left: 20px;
}


.profile div div ul li {
    display: block;
    padding-top: 0px;
}

.profile div div ul li button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 5px;
    color: white;
}

.profile div div ul li button:hover{
   
    background-color: rgba(40, 39, 39, 1);
    
}

.profile-content div div label span,  .profile-content div div label input{
    display: block;
}

.profile-content div div label input{
    margin-top: 5px;
    padding: 2px 10px 
}

.img-profile img {
    width: 185px;
    height: 185px;
    border: 2px white solid;
    border-radius: 50%;
    display: block;
}

.list-film-like div a li ul {
    padding-left: 0px;
}

.list-film-like div a li ul li {
    display: inline;
}

.list-film-like div a {
    padding: 10px;
    border-radius: 5px;
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử con */
    align-items: center; /* Căn nội dung theo chiều dọc */
    
}

.list-film-like div a img{
    width: 20%;
    height: auto;
}

.list-film-like div a div{
    flex-grow: 1; /* Để nội dung tự động mở rộng và nằm cạnh hình ảnh */
    padding-left: 5px;
}

.list-film-like div a:hover {
    text-decoration: none;
    background-color: rgb(42, 42, 42);
}

.log-out {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.log-out:hover {
    background-color: rgb(72, 72, 72);
}